<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CySwiftUIForm.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D05221A26A8131A00BEB72C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D05223326A8131C00BEB72C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D05223E26A8131C00BEB72C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
